//Colors
$lightergray : #fafafa;
$lightgray: #e7e7e7;
$gray : #7f8787;
$darkgray : #4a4a4a;
$lightblue : #d8e0f3;
$white : #fff;


//Font-family
$Roboto : 'Roboto', sans-serif;


//Font-size
$font-base : 16px;


//None
$no : none;